@use "mixin";
.dashboardProductBox {
  @include mixin.square(100%);
  background-color: #ffffff;
  padding: 2rem;
  overflow: auto;
}
.createProductBtn {
  @include mixin.square(2.5rem);
  @include mixin.flex(row, center, center, 0);
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: rgb(60, 0, 70);
  color: white;
  border-radius: 50%;
  &:hover {
    opacity: 0.8;
  }
}
